<link rel="stylesheet" type="text/css" href="style.css" />

<h1>Users Accounts</h1>

<div class="container">
    <% userData.forEach(user => { %>
    <div class="users">
        <div class="font"><%=user.firstName %></div>
        <div class="font"><%=user.middleName %></div>
        <div class="font"><%=user.lastName %></div>
        <div class="font"><%=user.gender %></div>
        <div class="font"><%=user.email %></div>
        <div class="font"><%=user.password %></div>
        <div class="cardButtonsParent">
            <a class="button submit font" href="/<%=user.id%>">edit</a>
            <!-- <a class="font" href="/">delete</a> -->
            <form class='removeFormMargin' action="/<%=user.id%>?_method=DELETE" method="POST">
                <input 
                    class="button cancel font"
                    type="submit"
                    value="Delete"
                />
            </form>
        </div>
    </div>
   
    <% }) %>
</div>
